@charset "UTF-8";
/* General Reset */
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  /*Yo this is Michelle, I love sushi, and am enjoying playing pikmin right now.*/
 
}
body {
  background-image: url("../narutostudent/images/BG_T.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
@font-face {
  font-family: Matamata;
  src: url(../narutostudent/fonts/Matamata-Bold.otf) format('opentype');
}
@font-face {
  font-family: LTWave;
  src: url(../narutostudent/fonts/LTWave-Italic.otf) format('opentype');
}
.navbar {
 margin-top: 20px;
font-family: LTWave;
color: rgb(39, 7, 7);
font-size: 2em;
text-shadow: 1px 1px 5px rgba(255, 0, 0, 0.518);
text-transform: uppercase;
background-color: rgb(255, 202, 202);
li {
  display: inline;
}
}
.navbar a {
  color: rgb(39, 7, 7);
  text-decoration: none;

}
#p1 img {
  width: 165px;
  float: left;
  margin: 10px;
  
}
#p2 img {
  width: 200px;
  float: right;
  margin: 10px;
  display: block;
}
#p3 img {
  width: 280px;
  float: none;
  margin: auto;
  display: block;
}
#p1 {

width: 350px; height: 320px;
color: white;
background-color: rgba(0, 0, 0, 0.596);
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius: 5px;
float: left;
padding: 1em;
display: block;
}
#p1 a {
text-decoration: none;
color: #ff7272;
}
#p2 {
  width: 464px; height: 320px;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 0, 0, 0.605);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  float: left;
  padding: 1em;
  display: block;
}
.footer {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
}
.footer p {
  padding: 10px;
  background-image: url("../narutostudent/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.button {
  font-family: LTWave;
  color: black;
  background-color: rgb(255, 202, 202);
  font-size: x-large;
  border-radius: 10px;
  padding: 5px;
}
h1 {
  font-family: Matamata;
  font-size: xx-large;
  color: white;
  padding-top: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.58);
}

#p3 {
  width: 350px; height: 320px;
  border-radius: 5px; 
  float: right;
  padding: 1em;
  margin: 10px;
  background-color: #511616db;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
}
.header {
font-family: LTWave;
font-size: 50pt;
color: #ffffff;
background-color: #ff7272;
border-radius: 5px;
text-align: center;

}